#btnContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

div{
  width: 100px;
  height: 100px;
  border: 2px solid black;
}
main{
  display: flex;
  margin-bottom:10px;
}
div[data-value=red]{
  background-color: red;
}

div[data-value=blue]{
  background-color: blue;
}

div[data-value=green]{
  background-color: green;
}

div[data-value=orange]{
  background-color: orange;
}

div[data-value=black]{
  background-color: black;
}
